# -----------------------------------------------------------------------
# Trivadis AG, Business Development & Support (BDS)
# Saegereistrasse 29, 8152 Glattbrugg, Switzerland
# -----------------------------------------------------------------------
# Name.......: docker-compose.yml
# Author.....: Stefan Oehrli (oes) stefan.oehrli@trivadis.com
# Editor.....: Stefan Oehrli
# Date.......: 2018.03.18
# Revision...: --
# Purpose....: Simple compose file to create a local orarepo web server
# Notes......: --
#
# Reference..: https://github.com/oehrlis/oudbase
# License....: GPL-3.0+
# -----------------------------------------------------------------------
# Modified...:
# see git revision history with git log for more information on changes
# -----------------------------------------------------------------------
version: '3'
services:
  orarepo:
    image: busybox
    container_name: orarepo
    hostname: orarepo
    restart: always
    network_mode: bridge
    volumes:
      - ${DOCKER_VOLUME_BASE}/orarepo:/www
    ports:
      - "80:80"
    command: httpd -fvvv -h /www
# - EOF -----------------------------------------------------------------