# Software, Packages and other stuff not for git
**/*.rpm
**/*.jar
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.gz
**/*.netrc

# MacOS fork files
**/*.DS_Store

# Project files
.idea/
/.pydevproject
/.project

# Not yet ready for git
samples/legacy/*
samples/19.1.0.0/*
# - EOF -----------------------------------------------------------------