# -----------------------------------------------------------------------
# Trivadis AG, Business Development & Support (BDS)
# Saegereistrasse 29, 8152 Glattbrugg, Switzerland
# -----------------------------------------------------------------------
# Name.......: docker-compose.yml
# Author.....: Stefan Oehrli (oes) stefan.oehrli@trivadis.com
# Editor.....: Stefan Oehrli
# Date.......: 2019.03.16
# Revision...: --
# Purpose....: Simple compose file to create a 12.2 database conatainer
# Notes......: --
#
# Reference..: https://github.com/oehrlis/oudbase
# License....: GPL-3.0+
# -----------------------------------------------------------------------
# Modified...:
# see git revision history with git log for more information on changes
# -----------------------------------------------------------------------
version: '3'
services:

# single tenant database
  tdb122s:
    image: ${DOCKER_USER}/${DOCKER_REPO}:12.2.0.1
    container_name: tdb122s
    hostname: tdb122s
    restart: unless-stopped
    network_mode: bridge
    volumes:
      - ${DOCKER_VOLUME_BASE}/tdb122s:/u01
      - ./config:/u01/config
    ports:
      - "1521"
    environment:
      INSTANCE_INIT: /u01/config
      ORACLE_SID: TDB122S
    environment:
      CONTAINER: 'FALSE'
      INSTANCE_INIT: /u01/config
      ORACLE_SID: TDB122S

# multitenant tenant database
  # tdb122c:
  #   image: ${DOCKER_USER}/${DOCKER_REPO}:12.2.0.1
  #   container_name: tdb122c
  #   hostname: tdb122c
  #   restart: unless-stopped
  #   network_mode: bridge
  #   volumes:
  #     - ${DOCKER_VOLUME_BASE}/tdb122c:/u01
  #     - ./config:/u01/config
  #   ports:
  #     - "1521"
  #   environment:
  #     CONTAINER: 'TRUE'
  #     INSTANCE_INIT: /u01/config
  #     ORACLE_SID: TDB122C
# - EOF -----------------------------------------------------------------