# -----------------------------------------------------------------------
# Trivadis AG, Business Development & Support (BDS)
# Saegereistrasse 29, 8152 Glattbrugg, Switzerland
# -----------------------------------------------------------------------
# Name.......: docker-compose.yml
# Author.....: Stefan Oehrli (oes) stefan.oehrli@trivadis.com
# Editor.....: Stefan Oehrli
# Date.......: 2019.03.16
# Revision...: --
# Purpose....: Simple compose file to create a 18.5 database conatainer
# Notes......: --
#
# Reference..: https://github.com/oehrlis/oudbase
# License....: GPL-3.0+
# -----------------------------------------------------------------------
# Modified...:
# see git revision history with git log for more information on changes
# -----------------------------------------------------------------------
version: '3'
services:

# single tenant database
  tdb186s:
    image: ${DOCKER_USER}/${DOCKER_REPO}:18.6.0.0
    container_name: tdb186s
    hostname: tdb186s
    restart: unless-stopped
    network_mode: bridge
    volumes:
      - ${DOCKER_VOLUME_BASE}/tdb186s:/u01
      - ./config:/u01/config
    ports:
      - "1521"
    environment:
      CONTAINER: 'FALSE'
      INSTANCE_INIT: /u01/config
      ORACLE_SID: TDB186S

# single tenant database
  tdb186s_delegated:
    image: ${DOCKER_USER}/${DOCKER_REPO}:18.6.0.0
    container_name: tdb186s_delegated
    hostname: tdb186s
    restart: unless-stopped
    network_mode: bridge
    volumes:
      - ${DOCKER_VOLUME_BASE}/tdb186s_delegated:/u01:rw,delegated
      - ./config:/u01/config
    ports:
      - "1521"
    environment:
      CONTAINER: 'FALSE'
      INSTANCE_INIT: /u01/config
      ORACLE_SID: TDB186S
    
# single tenant database
  tdb186s_cached:
    image: ${DOCKER_USER}/${DOCKER_REPO}:18.6.0.0
    container_name: tdb186s_cached
    hostname: tdb186s
    restart: unless-stopped
    network_mode: bridge
    volumes:
      - ${DOCKER_VOLUME_BASE}/tdb186s_cached:/u01:rw,cached
      - ./config:/u01/config
    ports:
      - "1521"
    environment:
      CONTAINER: 'FALSE'
      INSTANCE_INIT: /u01/config
      ORACLE_SID: TDB186S

# single tenant database
  tdb186s_consistent:
    image: ${DOCKER_USER}/${DOCKER_REPO}:18.6.0.0
    container_name: tdb186s_consistent
    hostname: tdb186s
    restart: unless-stopped
    network_mode: bridge
    volumes:
      - ${DOCKER_VOLUME_BASE}/tdb186s_consistent:/u01:rw,consistent
      - ./config:/u01/config
    ports:
      - "1521"
    environment:
      CONTAINER: 'FALSE'
      INSTANCE_INIT: /u01/config
      ORACLE_SID: TDB186S
# multitenant tenant database
  # tdb186c:
  #   image: ${DOCKER_USER}/${DOCKER_REPO}:18.6.0.0
  #   container_name: tdb186c
  #   hostname: tdb186c
  #   restart: unless-stopped
  #   network_mode: bridge
  #   volumes:
  #     - ${DOCKER_VOLUME_BASE}/tdb186c:/u01
  #     - ./config:/u01/config
  #   ports:
  #     - "1521"
  #   environment:
  #     CONTAINER: 'TRUE'
  #     INSTANCE_INIT: /u01/config
  #     ORACLE_SID: TDB186C
# - EOF -----------------------------------------------------------------