# -----------------------------------------------------------------------
# Trivadis AG, Business Development & Support (BDS)
# Saegereistrasse 29, 8152 Glattbrugg, Switzerland
# -----------------------------------------------------------------------
# Name.......: docker-compose.yml
# Author.....: Stefan Oehrli (oes) stefan.oehrli@trivadis.com
# Editor.....: Stefan Oehrli
# Date.......: 2019.03.16
# Revision...: --
# Purpose....: Simple compose file to create a 19.3 databases
# Notes......: --
#
# Reference..: https://github.com/oehrlis/oudbase
# License....: GPL-3.0+
# -----------------------------------------------------------------------
# Modified...:
# see git revision history with git log for more information on changes
# -----------------------------------------------------------------------
version: '3'
services:

# single tenant database
  tdb190s:
    image: ${DOCKER_USER}/${DOCKER_REPO}:19.8.0.0
    container_name: tdb190s
    hostname: tdb190s
    restart: unless-stopped
    network_mode: bridge
    volumes:
      - ${DOCKER_VOLUME_BASE}/tdb190s:/u01
      - ./config:/u01/config
    ports:
      - "1521"
    environment:
      CONTAINER: 'FALSE'
      INSTANCE_INIT: /u01/config
      ORACLE_SID: TDB190S

# multitenant tenant database
  tdb190c:
    image: ${DOCKER_USER}/${DOCKER_REPO}:19.8.0.0
    container_name: tdb190c
    hostname: tdb190c
    restart: unless-stopped
    network_mode: bridge
    volumes:
      - ${DOCKER_VOLUME_BASE}/tdb190c:/u01
      - ./config:/u01/config
    ports:
      - "1521"
    environment:
      CONTAINER: 'TRUE'
      INSTANCE_INIT: /u01/config
      ORACLE_SID: TDB190C
# - EOF -----------------------------------------------------------------